/* Dark Theme */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 50%;
}

.switch-design {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.fa-regular {
  font-size: 26px;
  color: var(--clr-neutral-800);
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

body.dark {
  background-color: #121212;
  color: #f0f0f0;
  .header {
    background-color: var(--clr-neutral-900);
  }
  .main-nav a {
    color: var(--clr-neutral-200);
  }

  .logo-preta {
    content: url(../assets/images/logo_matheus-dev.png);
  }

  .hero,
  .hero-right {
    grid-column: 3;
    display: grid;
    height: 100%;
    min-height: 80vh;
    overflow: hidden;
  }
  .hero {
    background-color: var(--clr-neutral-800);
  }
  .hero h1 {
    color: var(--clr-neutral-100);
  }

  .fa-regular {
    color: var(--clr-neutral-200);
  }
}
