/* Layout Sections */
.header {
  padding: var(--space-md) 0;
  background-color: var(--clr-neutral-100);
  border-bottom: 1px solid var(--clr-neutral-200);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul {
  display: flex;
  gap: var(--space-md);
}

.main-nav a {
  text-decoration: none;
  color: var(--clr-neutral-800);
  font-weight: var(--fw-medium);
}

.logo-preta {
  max-height: 40px;
}

.nav-actions {
  display: flex;
}

.nav-actions ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
}

.nav-actions li {
  padding: 0 1.5rem 0 0;
}